body {
    background: lightblue;
}
.container {
    margin: 0 auto;
    background: #fff;
    max-width: 1066px;
    border-radius: 15px;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}
/* .logo>img {
    width: 100%;
} */