
body {
    background: lightblue;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #555;
    height: 100%;
    line-height: 1.5;
}

a { text-decoration: none; }

.container {
    margin: 25px auto;
    background: #fff;
    max-width: 1066px;
    border-radius: 15px;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: bisque;
    border-radius: 15px;
    /* padding: 20px 0 0 15px; */
}

.logo>img {
    padding: 10px;
}

.datosEmpresa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    }

.nombre h1 {
    background-color: gainsboro;
    max-width: 100%;
    font-size: 1.75rem;
    color: #2c5d9f;
    text-align: right;
    margin: 0;
    font-weight: bold;
    padding: 0 0.3rem;
}




.direccionLema {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.direccion > p {
    background-color: yellow;
    font-size: 1rem;
    font-weight: bold;
}
#info {
    margin-left: 5px;
    float: none;
    display: inline;
    padding: 0;
    vertical-align: middle;
}


.lema > p {
    color: orange;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Merienda', cursive;
    background-color: lightblue;

}

/*--- migas de pan e idiomas - Inicio -------*/
#migas {
        font-family: Verdana, Arial ;
        font-size: 1.2rem;
        font-weight: bold;
    
        text-align:left;
        margin-top: -15px;
    }
    
#migas ul{
    list-style: none;
    margin: 0.50rem 0;
    padding: 0;
    float: right;
}
#migas ul li{
    padding:0;
    padding-right: 20px;
    float:left;
}
    
#migas ul li a {display:block;}


ul.menuPrincipal1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 1rem 0 1rem;
    font-weight: bold;
    background-color: #2c5d9f;
    margin-top: 0;
}
ul.menuPrincipal1 li a {
    color: white;
    font-size: 1rem;
}


@media (max-width: 767px) {
    .direccionLema {
        justify-content: space-around;
    }
    #migas {
        margin: 0 auto;
        font-size: 1.1rem;
    }
    #migas ul {
        float: none;
     }
     ul.menuPrincipal1 {
         flex-direction: column;
         text-align: center;
     }
     ul.menuPrincipal1 li {
        padding: 0.4rem 0;
    }
}
@media (max-width: 769px) {
    ul.menuPrincipal1 li a {
        font-size: 0.9rem;
    }
}

@media (max-width: 770px) {
    .nombre h1 {
        font-size: 1.4rem;
    }
    .direccion > p {
        font-size: 1rem;
    }
    .lema > p {
        letter-spacing: 0;
        word-spacing: 0;
        font-size: 1.3rem;
    }
    .datosEmpresa { 
        padding: 5px;
    }
    .logo>img {
        padding: 5px;
    }
}

@media (min-width: 771px) and (max-width: 930px) {
    .nombre h1 {
        font-size: 1.5rem;
    }
    .direccion > p {
        font-size: 1rem;
    }
    .lema > p {
        letter-spacing: 0;
        word-spacing: 0;
        font-size: 1.25rem;
    }
    .datosEmpresa { 
        padding: 10px;
    }
    .logo>img {
        padding: 5px;
    }
}

@media  (max-width: 1095px) {
    .container {
        max-width: 96%;
    }
}
